@import url(Fonts.css);

:root {
    --blue: #2563EB;
    --yellow: #EBAD25;
    --textgray : #404040;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    font-family: "Poppins Regular";
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header
{
    display: flex;
    width: 100%;
    height: 111px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;

}

.headerwrapper{
    display: flex;
    justify-content: space-between;
    background-color: #ffffffff;
    align-items: center;
    width: 1224px;
    height: 100%;   

}

.left_section
{
    display: flex;
    gap: 4px;
    align-items: center;
}

.left_section h1{
    color: var(--blue);
    font-family: "Poppins semibold";
}

.header_items
{
    display: flex;
    justify-content: center;
    
}

.header_items span
{
    font-family: "Poppins Bold";
}

.header_items ul
{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 40px;
}

.right_section
{
    display: flex;
    gap: 16px;

}
.language_selector
{
    background: transparent;
    display: flex;
    outline: none;
    border: 0;
}


.signin_button{
    background-image: url(../Image/Signin.png);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

li span{
    color: var(--blue);
}

.offer{
    display: flex;
    width: 100%;
    height: 42px;
    background-color: #0B1E46;
    align-items: center;
    justify-content: center;
}
.offer p{
    color: var(--yellow);
    font-size: 14px;
    font-family: "Poppins semibold";
}

.main_content{
    display: flex;
    width: 100%;
    height: 648px;
    background-image: linear-gradient(to right ,#2563EB, #4FB3FF);
    align-items: center;
}

.text_section{
    position: absolute;
    display: flex;
    margin-left: 149px;
    flex-direction: column;
    color: white;
    width: 600px;
    height: 277px;
    gap: 19px;
}

.uptext{
    display: flex;
    flex-direction: column;
}

.main_content button{
    width: 108px;
    height: 46px;
    background-color: var(--yellow);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins Regular";
}

.uptext h2{
    font-size: 44px;
    font-family: "Poppins Bold";
}
.uptext p{
    font-size: 20px;
    font-family: "Poppins Regular";
}

.image_section{
    width: 726px;
    height: 536px;
    margin-right: 59px;
    margin-left: auto;
}

.backgroundshape{
    position: absolute;
    margin-top: 858px;
    margin-left: -83px;
    border-radius: 89px;
    width: 1183px;
    height: 1195px;
    z-index: -1;
}

.details{
    width: 1224px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.details_top{
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.details_top_left-box{
    display: flex;
    border: 1px solid #BDBDBD;
    width: 559px;
    height: 368px;
    margin-top: 288px;
    border-radius: 16px;
    background-color: white;
}

.details_top_left-box-texts{
    display: flex;
    flex-direction: column;
    padding: 44px 22px 44px 22px;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.details_top_left-box-texts h2{
    color: var(--blue);
    font-family: "Poppins bold";
    font-size: 32px;
    text-align: center;
    min-width: 407px;
}

.details_top_left-box-texts p{
    font-size: 18px;
    color: var(--textgray);
}

.details_top_right-box{
    display: flex;
    flex-direction: column;
    margin-top: 119px;
    width: 600px;
    height: 805.44px;
}

.right_box_image{
    width: 600px;
    height: 400px;
    padding-bottom: 32px;
}

.details_top_right-box > h2{
    font-family: "Poppins bold";
    font-size: 40px;
    color: #1D1D1D;
    padding-bottom: 9px;
}

.details_top_right-box > p{
    font-size: 20px;
    color: var(--textgray);
    padding-bottom: 9px;
}

.fact_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #979797;
    height: 87px;
    border-radius: 10px;
}

.fact_box_texts{
    height: 60px;
    padding: 0 16px;
}

.fact_box_texts span{
    font-size: 14px;
    font-family: "Poppins semibold";
}

.fact_box_texts p{
    font-size: 14px;
    color: var(--textgray);
}