@import url(Fonts.css);

:root {
    --blue: #2563EB;
    --yellow: #EBAD25;
    --textgray : #404040;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    font-family: "Poppins Regular";
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header
{
    display: flex;
    width: 100%;
    height: 111px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;

}

.headerwrapper{
    display: flex;
    justify-content: space-between;
    background-color: #ffffffff;
    align-items: center;
    width: 1224px;
    height: 100%;   

}

.left_section
{
    display: flex;
    gap: 4px;
    align-items: center;
}

.left_section h1{
    color: var(--blue);
    font-family: "Poppins semibold";
}

.header_items
{
    display: flex;
    justify-content: center;
    
}

.header_items span
{
    font-family: "Poppins Bold";
}

.header_items ul
{
    display: flex;
    padding: 0;
    list-style: none;
    gap: 40px;
}

.header_items li{
    cursor: pointer;
}

.right_section
{
    display: flex;
    gap: 16px;

}
.language_selector
{
    background: transparent;
    display: flex;
    outline: none;
    border: 0;
}


.signin_button{
    background-image: url(../Image/Signin.png);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

li span{
    color: var(--blue);
}

.offer{
    display: flex;
    width: 100%;
    height: 42px;
    background-color: #0B1E46;
    align-items: center;
    justify-content: center;
}
.offer p{
    color: var(--yellow);
    font-size: 14px;
    font-family: "Poppins semibold";
}

.main_content{
    display: flex;
    width: 100%;
    height: 648px;
    background-image: linear-gradient(to right ,#2563EB, #4FB3FF);
    align-items: center;
}

.text_section{
    position: absolute;
    display: flex;
    margin-left: 149px;
    flex-direction: column;
    color: white;
    width: 600px;
    height: 277px;
    gap: 19px;
}

.uptext{
    display: flex;
    flex-direction: column;
}

.main_content button{
    width: 108px;
    height: 46px;
    background-color: var(--yellow);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins Regular";
}

.uptext h2{
    font-size: 44px;
    font-family: "Poppins Bold";
}
.uptext p{
    font-size: 20px;
    font-family: "Poppins Regular";
}

.image_section{
    width: 726px;
    height: 536px;
    margin-right: 59px;
    margin-left: auto;
}

.backgroundshape{
    position: absolute;
    margin-top: 858px;
    margin-left: -83px;
    border-radius: 89px;
    width: 1183px;
    height: 1195px;
    z-index: -1;
}

.details{
    width: 1224px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 82px;
}

.details_top{
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.details_top_left-box{
    display: flex;
    border: 1px solid #BDBDBD;
    width: 559px;
    height: 368px;
    margin-top: 288px;
    border-radius: 16px;
    background-color: white;
}

.details_top_left-box-texts{
    display: flex;
    flex-direction: column;
    padding: 44px 22px 44px 22px;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.details_top_left-box-texts span{
    color: var(--blue);
    font-family: "Poppins bold";
    font-size: 32px;
    text-align: center;
    min-width: 407px;
}

.details_top_left-box-texts p{
    font-size: 18px;
    color: var(--textgray);
}

.details_top_right-box{
    display: flex;
    flex-direction: column;
    margin-top: 119px;
    width: 600px;
    height: 805.44px;
}

.right_box_image{
    width: 600px;
    height: 400px;
    padding-bottom: 32px;
}

.details_top_right-box > span{
    font-family: "Poppins bold";
    font-size: 40px;
    color: #1D1D1D;
    padding-bottom: 9px;
}

.details_top_right-box > p{
    font-size: 20px;
    color: var(--textgray);
    padding-bottom: 9px;
}

.fact_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #979797;
    height: 87px;
    border-radius: 10px;
}

.fact_box_texts{
    height: 60px;
    padding: 0 16px;
}

.fact_box_texts span{
    font-size: 14px;
    font-family: "Poppins semibold";
}

.fact_box_texts p{
    font-size: 14px;
    color: var(--textgray);
}

.details_middle{
    display: flex;
    gap: 40px;
}
.details_middle_image{
    width: 596px;
    height: 396px;

}
.details_middle_texts{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 24px;
}

.details_middle_texts span{
    font-size: 32px;
    font-family: "Poppins bold";
    width: 100%;
    
}

.details_middle_texts p{
    max-width: 443px;
    font-size: 18px;
    color: var(--textgray);
}

.details_bottom{
    display: flex;
    gap: 24px;
}

.details_bottom_texts{
    display: flex;
    flex-direction: column;
    max-width: 599.5px;
    gap: 6px;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 315px;
}

.details_bottom_texts span{
    font-size: 32px;
    font-family: "Poppins bold";
    
}

.details_bottom_texts p{
    font-size: 20px;
    color: var(--textgray);

}

.cards_section{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 1224px;
    flex-direction: column;
    margin-top: 96px;
}

.cards_section span{
    display: flex;
    font-size: 40px;
    font-family:"Poppins bold" ;
    color: #163B8D;
    left: 0;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 48px;

}

.cards_firstrow{
    display: flex;
    height: 50%;
    justify-content: space-between;
    width: 1224px;

}

.cards_secondrow{
    display: flex;
    justify-content: space-between;

}

.card{
    display: flex;
    border-radius: 8px;
    width: 392px;
    height: 426px;
    border: 1px solid #DFDFDF;
    margin-top: 16px;
    flex-direction: column;
}

.card_top{
  

}

.card_image{
    width: 355px;
    height: 236px;
    margin-top: 18px;
}

.card_top_text{
    margin-top: 12px;
    font-family: "Poppins semibold";
    font-size: 16px;
}

.card_middle_section{
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    gap: 24px;
}

.card_middle_section_text{
    display: flex;
    gap: 3px;
    align-items: center;
    font-family: "poppins regular";
    font-size: 14px;
    stroke: #080808 75%;
}

.card_bottom{
    display: flex;
    justify-content: space-between;
}

.card_wrapper{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    gap: 25px;
}

.button{
    width: 164px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #2563EB;
    color: white;
    font-family: "poppins regular";
    cursor: pointer;
}

.Score_image{
    width: 40px;
    height: 40px;
}

.cards_section_button{
    display: flex;
    width: 392px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color: white;
    padding: 0px;
    font-size: 16px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.cards_section_button > img{
    height: 22px;
    width: 22px;


}

.footer{
    display: flex;
    margin-top: 96px;
    background-image: linear-gradient(to bottom ,#2563EB, #123276);
    width: 100%;
    flex-direction: column;
    height: 264px;
}

.footer p,h3,a {
    text-decoration: none;
    color: white;
}

.footer_top{
    width: 100%;
    min-height: 191px;
    display: flex;
    justify-content: center;
}

.footer_top_container{
    display: flex;
    width: 1224px;
    margin-top: 17px;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

.footer_top_container > div {
    display: flex;
    flex-direction:column;
}


.footer_top_container p h3{
    font-size: 16px;
}

.footer_top_container h3 {
    font-family: "Poppins bold";
    margin-bottom: 8px;
}

.footer_contnt_left{
    max-width: 250px;
}

.footer_buttom{
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
}
.footer_buttom_container{
    display: flex;
    width: 1224px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.footer_contnt_right h3{
    margin-bottom: 16px;
}

.footer_bottom_right{
    display: flex;
    gap: 50px;
}